@charset "utf-8";

body {
	font-size: 14px;
	font-family: sans-serif;
	background-color: #F6E3CE;
	width: 100%;
	margin: 0 auto;
	max-width: 690px;
	text-align: center;
}

/* シャッフル中当選番号テキスト */
.textShuffle {
	text-align: center;
	font-weight: bold; 
	font-size: 500%; 
	width: 70%;
	margin: 0 auto;
	padding:15px 5px;
  	background-color: #FFFFFF;
  border-radius: 10px;
}
/* 待機中当選番号テキスト */
.textWaiting {
	text-align: center;
	font-weight: bold; 
	font-size: 500%; 
	width: 70%;
	margin: 0 auto;
	padding:15px 5px;
  	color: #FFFFFF;
  	background-color: #FF0000;
  border-radius: 10px;
}

/* 当選番号ログ表示エリア */
.numLog {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.BingoBallNotSelected {
	font-size: 26px; 
	font-weight: normal ; 
	color: #cccccc;
	border: solid 1px #cccccc;
	display: flex;
	justify-content: center;
	height: 38px;
	margin: 3px;
	width: 38px;
	border-radius: 19px;
	background-color: #FFFFFF;
}
.BingoBallSelected {
	font-size: 26px; 
	font-weight: bold; 
	border: solid 2px #FE9A2E;
	display: flex;
	justify-content: center;
	height: 38px;
	margin: 2px;
	width: 38px;
	border-radius: 19px;
	background-color: #F2F5A9;
}


/* ボタン */
.button1 {
	font-weight: bold; 
	font-family:sans-serif;
	font-size: 200%; 
	padding:10px 20px;
  margin: 5px;
}

/* ロゴ */
.logo {
	width: 160px; 
}
/* ロゴの点滅 */
.logo_blink {
	width: 160px; 
	-webkit-animation:blink 0.8s ease-in-out infinite alternate;
	-moz-animation:blink 0.8s ease-in-out infinite alternate;
	animation:blink 0.8s ease-in-out infinite alternate;
}
/* 効果音メニュー */
.infomation {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	padding:5px 5px;
  	background-color: #FFFFFF;
  border-radius: 5px;
}
.infomation2 {
	text-align: left;
	padding:5px 5px;
  	background-color: #FFFFFF;
  border-radius: 5px;
}
@-webkit-keyframes blink {
    100% {opacity:0;}
    0% {opacity:1;}
}
@-moz-keyframes blink {
    100% {opacity:0;}
    0% {opacity:1;}
}
@keyframes blink {
    100% {opacity:0;}
    0% {opacity:1;}
}

h2 {
  font-size: 1.25em;
  margin-top: 1.11111em;
  margin-bottom: 1.11111em;
	padding: .5em .75em;
	border-left: 6px solid #13466a;
}
.copyright {
  font-size: 0.8em;
	padding:10px 10px;
	color: #555555;
}
